header {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/images-about/about-bg-5.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.sec-mission {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 100px;

}

.top-block-row {
    display: grid;
    grid-template-columns: 45% 45%;
    margin: 50px 0;
}

.bot-block-row {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 20px;
}

.bot-block-row div {
    width: 80% !important;
    height: 70%;
}



.top-block-row p {
    width: 80%;
    padding-bottom: 50px;
    overflow-wrap: break-word;
    line-height: 27px;
}

.img-shadow {
    width: 100%;
    padding-left: 5px;
    /* height: 100%; */
    
}

.img-shadow img {
    width: 500px !important;
    display: block;
    box-shadow: 10px 10px 0 1px rgba(0, 0, 0, .07);
}

@media all and (max-width: 1024px) {
    


    .top-block-row,
    .bot-block-row,
    .sec-mission {
        display: flex;
        flex-direction: column;
    }

    .bot-block-row {
        width: 80%;
        padding-top: 50px;
    }

    .top-block-row p,
    .bot-block-row p {
        width: 100%;
    }

    .top-block-row,
    .bot-block-row {
        padding-bottom: 50px;
    }

    .sec-mission {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .top-block-row {
        width: 80%;
    }

    .img-shadow img {
        width: 70% !important;
    }
}

@media all and (max-width: 720px) {
    .img-shadow img {
        width: 70% !important;
    }
}