header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images-contact/about-bg-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color:#eff1f3f7;
    padding-right: 120px;
}
h2{
    align-self: baseline;
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
}

form {
    height: 100vh;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
form h2 {
    padding-top: 20px;
    margin-bottom: 60px;
}

input {
    width: inherit;
    padding: 12px ;
    margin-top: 20px;
    font-size: 16px;
    border: rgb(221, 221, 221) 1px solid;
}

textarea {
    width: 588px;
    overflow: auto;
    text-align: start;
    resize: none;  
    margin-top: 10px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 20px;
    padding: 12px;
    color: #666;
    border: solid 1px rgb(221, 221, 221);
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    height: 120px;
    line-height: 27.2px;
    padding: 12px;
}

input, textarea {
    border-radius:2px;
    font-size: 16px;
}


button {
    color: white;
    background-color: #fb2056;
    padding: 17px 40px;
    border-radius: 30px;
    align-self: baseline;
    border: #fb2056;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}


.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-top: 35px;
    margin-bottom: 60px;

}
span{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

p{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;

}




/* social media */
.social {
    display: flex;
    align-items: center;
    gap: 5px;
}


.fa {
    
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 14px;
    

}
.fa-facebook {
    border-radius: 50%;
    background: #fb2056;
    color: white;
    font-size: 14px;
    
    
}
.fa-twitter{
    border-radius: 50%;
    background: #fb2056;
    color: white;
    padding: 10px 10px;
    
}
.fa-youtube {
    border-radius: 50%;
    background: #fb2056;
    color: white;
    padding: 10px 10px;
    
    
}
.fa:hover {
    opacity: 0.7;
}

@media all and (max-width: 1024px) {

    
    .contact-form,form 
     {
        display: flex;
        flex-direction: column;
        
        

    }
    form {
        height: fit-content;
    }
    .contact-form{
        align-items: baseline;
        padding-left: 50px;
    }
    .contact-info{
        
        align-items: flex-start;
    }
}
@media all and (max-width: 720px) {

    
    textarea,input 
     {
       width: 80%;
    }
    form {
        width: 100%;;
    }
}

@media all and (max-width: 420px) {

    
    textarea,input 
     {
       width: 80%;
    }
    form {
        width: 100%;;
    }
}
