header {

    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images-home/hero-bg.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;  

}
.top{

    border-top: #fb2056 solid 2px;
}

h2 {
    padding-top: 10px;

}
.title-h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#btn-learn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.citation-block {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #f5f5f5;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px; }

.citation{
    margin-left:100px;
    text-align: start;
    margin-right: 150px;
    margin-bottom: 100px;

}

    
.citation p:nth-child(2) {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    
}

.quote {
    width: 94px;
    height: 72px;
    


}
.two-img {
    margin-top: 20px;
}
.bg-txt-right-block{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images-home/section-bg-img.jpg') ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
.bg-txt-right-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.txt-right-block {

    
    width: 500px;
    position: relative;
    left: 300px;
    bottom: 100px;
    margin-right: 50px;

}


.txt-right-block h2 {
    color: white;
}
.basic-text {
    font-size: 16px;
    color: white;
}
.grid-photos {
    display: flex;
    justify-content: center;
    
}
.col-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    width: 35%;
}
.col-img img {
    display: inline-block;
}
.text-photos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 0px;
}
.text-markup {
    width:20% ;
}
.text-markup p {
    padding-bottom: 30px;
}
.img-shadow {
    width: 80%;
}
.img-shadow p {
    width: 80%;
    
}
.img-shadow h5 {
    padding-top: 20px;
}
@media all and (max-width: 1024px) {
    .txt-right-block {

        position: static;
        margin: auto ;
        

    }
    .citation-block
     {
        display: flex;
        flex-direction: column;

    }  
    .grid-photos {
        
        align-items: center;
        
    }
    .grid-photos {
        width: 100%;
        align-items: center;
        
    }
    .col-img{
        width: 80%;
    }
}