header {
    
    /* position: fixed; */
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-image: url('../images/hero-bg.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images-services/services-bg.jpg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 

    
    /* background-repeat: no-repeat; */
 
    
    
}
h2 {
    padding-top: 50px;
}
.title-h2 {
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding-bottom: 50px;
}
.title-h2 p {
    width: 780px;
}
h2 {
    padding-top: 100px;
}
.img-shadow p {
    width: 470px;
}
.bot-block-sec{
    display: flex;
    justify-content: space-around;
    align-items: center ;

}
.bot-block-row + div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}
.bot-block-row  {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 60%;
   /* padding-left:100px ; */
   gap:120px ;
}
.two-img{
    gap: 20px;
}
.img-shadow img {
    width: 80%;
}
.two-img-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    

}