header {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images-services/services-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.title-h2 p {
    width: 80%;
}

h2 {
    padding-top: 50px !important;
}

h5 {
    padding-top: 10px;
}

.img-shadow p {
    width: 470px;
}

.bot-block-sec {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-right: 200px; */

}

.bot-block-row+div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}

.bot-block-row {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    padding-left: 70px;
}

.bot-block-row p {

    width: 80%;

}

.bot-block-row div {

    width: 35%;

}

.two-img {
    gap: 20px;
}

.img-shadow img {
    width: 80%;
}

.two-img-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

@media all and (max-width: 1024px) {

    .bot-block-sec p {

        
        
        margin: 0;
        
    }

    .bot-block-row {
        margin: 0;
        
        width: 80%;

        padding: 50px;
    }
    .bot-block-row div {

        width: 80%;
        padding: 20px;
    
    }

    .title-h2 p {
        width: 80%;
    }



}